<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
    
    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="uk.gov.nbn.data.gis" /> 
    
    <!--Read in the gis properties file using the NBN Properties reader and use as a bean-->
    <bean id="properties" factory-method="getEffectiveProperties" class="uk.gov.nbn.data.properties.PropertiesReader">
        <constructor-arg value="gis.properties"/>
    </bean>
    
    <!--Use above properties file in this spring.xml-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="properties"/>
    </bean>
     
    <!--Create a jersey client pointing to the data api as defined in the properites file-->
    <bean id="client" factory-method="create" class="com.sun.jersey.api.client.Client">
        <constructor-arg>
            <bean class="uk.gov.nbn.data.gis.config.JerseyClientConfig"/>
        </constructor-arg>
    </bean>
    <bean id="resource" factory-bean="client" factory-method="resource">
        <constructor-arg value="${api}"/>
    </bean>
</beans>