<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>NBN Gateway Frontend</display-name>

<!--Load Spring Context -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
<!--Create spring MVC Servlet and Map-->
    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

<!--Define welcome pages-->
    <welcome-file-list>
        <welcome-file>index.ftl</welcome-file>
    </welcome-file-list>
    
<!--Define custom error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/unavailable-pages/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/unavailable-pages/500</location>
    </error-page>
</web-app>
