<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>NBN Gateway Frontend</display-name>
    
<!--Define welcome pages-->
    <welcome-file-list>
        <welcome-file>index.ftl</welcome-file>
    </welcome-file-list>
    
<!--Define custom error pages -->
    <error-page>
        <error-code>403</error-code>
        <location>/unavailable-pages/403</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/unavailable-pages/404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/unavailable-pages/500</location>
    </error-page>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/clientaccesspolicy.xml</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/crossdomain.xml</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>      
    
<!--    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>  -->
</web-app>
