# netbeans
nb-configuration.xml
nbactions.xml

# intellij
.idea
*.iml

# output
/output.txt
**/target

# misc
/portal/src/main/webapp/css/
/portal/src/main/sass/.sass-cache/
/importer/testLog.log

# testing
*log.txt*
*.log
temp/
api/api.resetcredentialskey
api/api.authenticatorkey
