#nbn-page-main-content-toc {
    background-color:#E1E9F0;
    border: #999999 solid 1px;
    float:right;
    margin:1.5em;
    max-width: 250px;
    padding: 0.5em 2em;
}

#nbn-page-main-content-toc h2 {
    text-align:center;
}

#nbn-page-main-content-toc ol {
    list-style-type: circle;
    margin-left:0;
    padding-left: 1em;
}