/*Mapping Layout below*/
.TOP_CENTER_WIDGET, .BOTTOM_CENTER_WIDGET, .TOP_LEFT_WIDGET, .BOTTOM_LEFT_WIDGET, .TOP_RIGHT_WIDGET, .BOTTOM_RIGHT_WIDGET, .TOP_CENTER_WIDGET, .BOTTOM_CENTER_WIDGET {
	display: inline-block;
}

.BOTTOM_CENTER_WIDGET, .BOTTOM_LEFT_WIDGET, .BOTTOM_RIGHT_WIDGET, .BOTTOM_CENTER_WIDGET {
	vertical-align: bottom;
}

.TOP_CENTER_WIDGET, .TOP_LEFT_WIDGET, .TOP_RIGHT_WIDGET, .TOP_CENTER_WIDGET  {
	vertical-align: top;
}

.BOTTOM_CENTER_CONTAINER {
	margin-bottom: 18px; /*shifts the bottom centre up by 18px. So that it is above the copyright statement*/
}
 
/*STATIC GRID LAYOUT BELOW*/

.STATIC_GRID_CONTAINER {
	height: 100%;
	width: 100%;
}

.STATIC_GRID_VIEWPOINT {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
}

.STATIC_GRID_LEFT, .STATIC_GRID_RIGHT {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.STATIC_GRID_LEFT {
	left: 0;
}

.STATIC_GRID_RIGHT {
	right: 0;
}

.STATIC_GRID_HEADER, .STATIC_GRID_FOOTER {
	position: absolute;
	left: 0;
	right: 0;
	overflow: hidden;
}

.STATIC_GRID_HEADER {
	top: 0;
}

.STATIC_GRID_FOOTER {
	bottom: 0;
}

.STATIC_GRID_HEADER_WIDGET, .STATIC_GRID_FOOTER_WIDGET {
	display: inline-block;
}

/*Beautify the Contents of the GridManager*/
.TOP_CENTER_WIDGET, .TOP_LEFT_WIDGET, .TOP_RIGHT_WIDGET, .LEFT_TOP_WIDGET, .RIGHT_TOP_WIDGET, .LEFT_CENTER_WIDGET, .RIGHT_CENTER_WIDGET, .LEFT_BOTTOM_WIDGET, .RIGHT_BOTTOM_WIDGET, .BOTTOM_CENTER_WIDGET, .BOTTOM_LEFT_WIDGET, .BOTTOM_RIGHT_WIDGET { /*This CSS statement enables drop shadows where available*/
	-moz--box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
	box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px;
	margin: 5px;
}

/*Enabling positions for Open Layers Manager*/
.TOP_LEFT_CONTAINER, .TOP_RIGHT_CONTAINER, .RIGHT_BOTTOM_CONTAINER, .BOTTOM_CENTER_CONTAINER, .BOTTOM_LEFT_CONTAINER, .RIGHT_TOP_CONTAINER {
	position: absolute;
}

.RIGHT_TOP_CONTAINER {
	top: 30px;
	right: 0px;
}

.TOP_LEFT_CONTAINER {
	top: 0px;
	left: 50px;
}

.TOP_RIGHT_CONTAINER {
	top: 0px;
	right: 0px;
}

.RIGHT_BOTTOM_CONTAINER {
	bottom: 0px;
	right: 0px;
}

.BOTTOM_CENTER_CONTAINER {
	bottom: 0px;
	left: 50%;
	margin-left: -110px; /*Hard coded value for loading widget which is 300px wide*/
}

.BOTTOM_LEFT_CONTAINER {
	bottom: 0px;
	left: 0px;
}

/*Define the variations to allow bing maps copyright controls to be shown*/
.MAPPING_TYPE-BING .RIGHT_BOTTOM_CONTAINER {
	bottom: 25px;
}

.MAPPING_TYPE-BING .BOTTOM_LEFT_CONTAINER {
	left: 75px;
}