/* line 17, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/CEHDev/NBNGatewayFrontend/target/rubygems/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_header.scss */
#nbn-page-header {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_header.scss */
#nbn-page-header h1 {
  background: url('../img/logo.jpg?1343039900') no-repeat 15px 15px;
  display: block;
  padding: 15px;
  width: 200px;
  height: 73px;
  float: left;
  text-indent: -9999px;
}
/* line 17, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_header.scss */
#nbn-page-header ul {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  float: left;
  position: relative;
  padding: 0;
  background: #007ba6 url('../img/nav_bg.png?1343039900') repeat-x;
}
/* line 25, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_header.scss */
#nbn-page-header ul li {
  height: 35px;
  float: left;
  list-style: none;
}
/* line 29, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_header.scss */
#nbn-page-header ul li:hover {
  background-color: #47C0D7;
}
/* line 30, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_header.scss */
#nbn-page-header ul li a {
  float: left;
  color: white;
  padding: 9px 16px 12px 16px;
  text-decoration: none;
}
/* line 38, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_header.scss */
#nbn-page-header ul .first:hover {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 3, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_footer.scss */
#nbn-page-footer {
  height: 30px;
  background-color: white;
  color: #8696a4;
}
/* line 8, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_footer.scss */
#nbn-page-footer a:link, #nbn-page-footer a:visited {
  color: #8696a4;
}
/* line 10, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_footer.scss */
#nbn-page-footer .cookieStatement {
  float: left;
  width: 400px;
}
/* line 15, C:/CEHDev/NBNGatewayFrontend/src/main/sass/_footer.scss */
#nbn-page-footer .developedBy {
  float: right;
}

/* line 7, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body {
  padding-right: 20px;
  padding-left: 20px;
  background: #e1e9f0;
  color: #999999;
  font-family: Arial,Helvetica,Sans-serif;
  font-size: 83%;
  margin-top: 0;
}
/* line 16, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-content, body #nbn-page-header {
  background-color: white;
  color: #393733;
}
/* line 21, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-content, body #nbn-page-footer, body #nbn-page-header, body #nbn-page-copyright {
  width: 1004px;
  padding: 10px;
  margin: 0 auto;
}
/* line 27, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-header {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
}
/* line 32, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-content {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 33, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-footer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 35, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-content, body #nbn-page-footer {
  margin-bottom: 7px;
}
/* line 36, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-footer, body #nbn-page-copyright {
  font-size: 0.85em;
}
/* line 38, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body #nbn-page-copyright {
  padding: 20px 15px 30px 15px;
}
/* line 41, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body a:link, body a:visited {
  text-decoration: underline;
  font-weight: normal;
  color: #007ba6;
}
/* line 47, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body ul, body ol {
  margin-left: 10px;
  list-style-type: circle;
}
/* line 52, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body h1 {
  font-family: Trebuchet MS, Georgia, Sans-Serif;
  font-size: 2.0em;
  font-weight: lighter;
  color: #007ba6;
  margin-bottom: 20px;
  line-height: 40px;
  margin-top: 0;
}
/* line 63, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body h2 {
  color: #007ba6;
  font-size: 1.5em;
  text-decoration: none;
}
/* line 69, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body h3 {
  font-size: 1.1em;
  font-weight: lighter;
  color: #007ba6;
  margin: 10px 0px 5px 0px;
  text-decoration: none;
}
/* line 77, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body h4 {
  font-size: 1.3em;
  color: #007ba6;
  margin: 5px 0px 10px 0px;
}
/* line 83, C:/CEHDev/NBNGatewayFrontend/src/main/sass/screen.scss */
body p {
  margin-top: 1em;
}
