<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="ImporterCommandLine" value="C:\Working\servicetest\importer\importer.jar %importfile% -logdir %logfolder% -tempdir %tempfolder% -target ingest"/>
      <add key="SourceFolder" value="C:\Working\servicetest\updatefiles"/>
      <add key="ImporterLogFolder" value="C:\Working\servicetest\log"/>
      <add key="ResultFolder" value="C:\Working\servicetest\complete"/>
      <add key="TempFolder" value="C:\Working\servicetest\temp"/>
      <add key="JavaExePath" value="C:\Program Files\Java\jre7\bin\java.exe "/>
      <add key="PollingIntervalInMilliseconds" value="1000"/>
      <add key="LogThreshold" value ="Info"/>
    </appSettings>
</configuration>
