.controlPanelTabs {
  @import "legend";
  @import "picker";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius:0;
  
  .ui-tabs-panel {
    &.legend, &.datasets, &.picker .results {
      position: absolute;
      top: 40px;
      bottom: 0px;
      left:0; 
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .datasets {
    h2 { line-height: 20px; font-size: 17px;}
  }
}
.controlPanel {
  position: absolute;
  width: 357px;
  top: 40px;
  bottom: 0;
  right: 0;
  float: right;
  z-index: 2;
}
.hideControlPanel{
  position: absolute;
  right: 3px;
  top: 6px;
}
.showControlPanel{
  float: right;
  z-index: 1;
  position: absolute;
  top: 42px;
  right: 0;
}
/*Disable the tabs pointless yellow selected state*/
.ui-state-active a, .ui-state-hover a {
    outline: none;
}
