.controlPanel {
  @import "legend";
  position: absolute;
  width: 300px;
  top: 42px;
  bottom: 0;
  right: 0;
  overflow-y: scroll; 

  .datasets {
    h2 { line-height: 20px; font-size: 17px;}
  }
}