.layerCustomisation {
  .colourPicker {
    height: 90px;
    .preview-container {
      float:left;
      height:80px;
      width:80px;
      background: #ffffff url('../img/colourPickerTransparent.png') repeat;
      border: 1px black solid;

      .preview {
        height:100%;
        width:100%;
      }
    }

    .sliders {
      float:right;
      .slider-container {
        height: 21px;
        span { margin-right: 8px; }
        div {
          background: none;
          background-image: url('../img/colourPicker.png');
          float: right;
          width: 215px;
          margin-top:6px;
        }

        .sat-slider { background-position: 0 -9px; }
        .lum-slider { background-position: 0 -18px; }
        .opacity-slider { background-position: 0 -27px; }
      }
    }
  }

  .temporal {
    input { width: 4em; }
  }

  .datasets {
    height: 200px;
    overflow-y: scroll;

    input { float: left;}
    span.title { display: block; margin-left:2em; }
  }

  h5 {
    border-bottom: 1px solid #aaa;
    font-size: 11px;
  }
}