ul.legend {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    cursor: move;
    span.icon {
      float: left;
      height: 20px;
      width: 20px;
      border: black 1px solid;
      margin: 2px;
      cursor: pointer;
      &:hover { opacity: 0.4} 
    }
    p.description { margin-left: 30px; }
    button.destroy { float:right; }
    min-height: 26px;
  }

}