ul.legend {
  margin: 0;
  padding: 6px 0 0;
  list-style: none;
  
  li {
    cursor: move;
    img {
      margin: 7px 3px;
      float: left;
    }
    button.customise {
      float: left;
      padding-left: 4px;
      padding-right: 4px;
      i {
        vertical-align: top;
        margin-top: 2px;
      }
      span.icon {
        vertical-align: top;
        display: inline-block;
        height: 16px;
        width: 16px;
        border: black 1px solid;
      }
    }
    p.description { margin-left: 60px; }
    button.destroy { float:right; }
    min-height: 32px;
  }

}