<div class="openlayers"></div>
<div class="baseLayers"></div>
<div class="controlPanel"></div>

<div class="navbar row-fluid">
  <div class="navbar-inner">
    <a class="brand span1" href="#">IMT</a>
    <div class="search navbar-form span10"></div>
    <button class="controlPanelToggle span1 btn"><i class="icon-cog"></i></button>
  </div>
</div>