<div class="openlayers"></div>
<div class="baseLayers"></div>
<div class="controlPanel"></div>

<div class="navbar row-fluid">
  <div class="navbar-inner">
    <a class="brand" href="#">IMT</a>
    <div class="search navbar-form span9"></div>

      <ul class="nav pull-right">
        <li><div class="navbar-text userView"></div></li>
        <li class="divider-vertical"></li>
        <li><button class="controlPanelToggle btn"><i class="icon-cog"></i></button></li>
      </ul>
  </div>

</div>