<div class="openlayers"></div>
<div class="baseLayers"></div>
<div class="controlPanel"></div>

<div class="navbar row-fluid">
  <div class="navbar-inner">
    <img src="img/nbnLogo.png" class="logo"/>
    <div class="navbar-form span9"><div class="search"></div></div>
      <ul class="nav pull-right">
        <li><div class="navbar-text userView"></div></li>
      </ul>
  </div>
  <div class="showControlPanel" title="Show panel">
    <button class="controlPanelToggle btn">
      <i class="icon-chevron-left"></i>
    </button>
  </div>
</div>