<h5>What colour should the layer be?</h5>
<div class="preview-container">
  <div class="preview"></div>
</div>
<div class="sliders">
  <div class="slider-container"> <span>Hue:</span><div class="hue-slider"></div>          </div>
  <div class="slider-container"> <span>Saturation:</span><div class="sat-slider"></div>   </div>
  <div class="slider-container"> <span>Luminosity:</span><div class="lum-slider"></div>   </div>
  <div class="slider-container"> <span>Opacity:</span><div class="opacity-slider"></div>  </div>
</div>