<div class="hideControlPanel">
	<button class="btn" title="Hide panel"><i class="icon-chevron-right"></i></button>
</div>
<div class="controlPanelTabs">
	<ul>
	  <li><a href="#controlpanel-legend">Legend</a></li>
	  <li><a href="#controlpanel-datasets">Datasets</a></li>
	  <li><a href="#controlpanel-picker">Picker</a></li>
	</ul>
	<ul id="controlpanel-legend" class="legend"></ul>
	<div id="controlpanel-datasets" class="datasets"></div>
	<div id="controlpanel-picker" class="picker">Nothing yet</div>
</div>