<ul>
  <li><a href="#controlpanel-legend">Legend</a></li>
  <li><a href="#controlpanel-datasets">Datasets</a></li>
  <li><a href="#controlpanel-picker">Picker</a></li>
</ul>
<ul id="controlpanel-legend" class="legend"></ul>
<ul id="controlpanel-datasets" class="datasets"></ul>
<div id="controlpanel-picker" class="picker">Nothing yet</div>