<img src="img/grabber.png"></img>
<button class="customise btn">
  <i class="icon-wrench"></i>
  <span class="icon"></span>
</button>
<button class="destroy btn"><i class="icon-trash"></i></button>
<p class="description">{{name}}</p>