<div class="resolution">
  <input type="radio" id="resolution-10km" name="radio" /><label for="resolution-10km">10km</label>
  <input type="radio" id="resolution-2km" name="radio" /><label for="resolution-2km">2km</label>
  <input type="radio" id="resolution-1km" name="radio" /><label for="resolution-1km">1km</label>
  <input type="radio" id="resolution-100m" name="radio" /><label for="resolution-100m">100m</label>
  <input type="radio" id="resolution-auto" name="radio" checked="checked" /><label for="resolution-auto">Auto</label>
</div>
