<div ng-controller="ViewController as view">
    <div class="row">
        <div class="span10 offset1">
            <ul class="nav nav-pills">
                <li><a href ng-class="{active : view.isSelected(1)}" ng-click="view.selectView(1)">Dataset </a></li>
                <li><a href ng-class="{active : view.isSelected(2)}" ng-click="view.selectView(2)">Metadata Form</a>
                </li>
                <li><a href ng-class="{active : view.isSelected(3)}" ng-click="view.selectView(3)">Existing Dataset</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            <div ng-show="view.isSelected(1)">
                1. This is : {{ view.selectedView }}
            </div>
            <div ng-show="view.isSelected(2)">
                2. This is : {{ view.selectedView }}
            </div>
            <div ng-show="view.isSelected(3)">
                3. This is : {{ view.selectedView }}
            </div>
        </div>
    </div>
</div>