/*CSS For rendering jqueryui plugin datatable*/

    div.dataTables_length, div.dataTables_info {
            float: left;
            padding: 5px;
    }
    div.dataTables_filter, div.dataTables_paginate {
            float: right;
            padding: 5px;
    }
    div.DataTables_sort_wrapper {
            float: left;
    }
    span.DataTables_sort_icon {
            float: right;
    }

    .ui-buttonset .ui-button{
        padding: 0.3em !important;
    }
    
    .nbn-align-right{
        text-align: right;
    }
    
    .nbn-align-centre{
        text-align: center;
    }
    
    .nbn-datatable-generic {
        a {
            color: #007BA6 !important;
            text-decoration: underline !important;
        }
    }