@import "_nbn-colour-scheme";

.message {
    display: block;
    margin: 10px;
    padding: 1em;

    &.error {
        border: solid 1px #C00;
        background-color: $errorColour;
    }
    
    &.info {
        border: solid 1px $majorColour;
        background-color: $mediumBlue;
    }
}