$textColour             : #393733;
$backgroundContentColor : white;
$backgroundPageColour   : #E1E9F0;
$pageTextColour         : #999;
$majorColour            : #007BA6;
$minorColour            : #8696A4;
$minorGrey              : #F7F7F7;
$mediumGrey             : silver;
$majorGrey              : #808080;
