$textColour                 : #393733;
$backgroundContentColor     : white;
$backgroundPageColour       : #E1E9F0;
$pageTextColour             : #999;
$majorColour                : #007BA6;
$minorColour                : #8696A4;
$veryMinorColour            : #dbf0f7;
$minorGrey                  : #F7F7F7;
$minorToMediumGrey          : #F0F0F0;
$mediumGrey                 : silver;
$majorGrey                  : #808080;
