@import "_nbn-colour-scheme";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/color/contrast";

div.paginator {
    @include clearfix;
    a, span {
        border: solid 1px $backgroundPageColour;
        float: left;
        margin-right: 2px;
        padding:3px 4px;
    }

    span {
        &.gap       { border:0; }
        &.disabled  { color:$minorColour; }
        &.current   { @include contrasted($majorColour); }
    }
    a:hover { border-color:$majorColour; } 
}


.nbn-search {
    @include clearfix;

    .nbn-search-facets {
        float:left;
        width: 300px;
    }
    
    .controls, .results {
        float:left;
        width: 651px;
    }
    .controls {text-align: right;}
}

.paginator { margin-left: 250px; }