@import "_nbn-colour-scheme";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/color/contrast";

div.paginator {
    @include clearfix;
    a, span {
        border: solid 1px $backgroundPageColour;
        float: left;
        margin-right: 2px;
        padding:3px 4px;
    }

    span {
        &.gap       { border:0; }
        &.current   {
            @include contrasted($majorColour);
            &.prev, &.next { 
                background-color:transparent;
                color:$minorColour;
            }
        }
    }
    a:hover { border-color:$majorColour; } 
}


form.nbn-search {
    @include clearfix;
    border: 1px solid black;
    .nbn-search-facets {
        float:left;
        width: 300px;
        border-right: 1px solid black;
        font-size:0.8em;
    }
    
    .controls, .results {
        float:left;
        width: 651px;
    }
    .controls   { text-align: right; }
    .paginator  { float: right; clear: both; }
}
