@import "_nbn-colour-scheme";
@import "compass/utilities/general/clearfix";

.nbn-search {
    @include clearfix;

    .nbn-search-facets { 
        float: left; 
        font-size: 0.8em;
        border: 1px black solid;
    }
    .pagnation, .results{ width: 600px;  float:right;}
}