#login-form, #register-form, #recovery-form {
    margin: 0 auto;
    width: 525px;

    $labelWidth : 125px;

    fieldset {
        border: none;
        padding: 0;
        input { margin: auto; }
        label { 
            display: inline-block;
            margin-top: 1em;
            margin-left: 1em;
            float: none;  
            font-size: medium;
            width: auto;
        }
    }

    fieldset legend, label {
        margin-top: 0.5em;
        font-size: large;
        float: left;
        width: $labelWidth;
    }

    input, .sign-up { margin-left : $labelWidth; }

    input[type="text"], input[type="password"] {
        display: block;
        margin: 2em;
        width: 300px;
        height: 2em;
    }

    label[for="remember"] { width: auto; float: none; }
    
    input { padding: 0.5em;  margin-bottom: 2em; }
}