body{
    .nbn-metadata-dataset-table{
        th{
            width: 25%;
        }
    }
}

.nbn-gridmap-div {
    display: inline;
}

.nbn-gridmap-legend-div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.nbn-chart-tooltip {
    font-size: 0.75em;
    color: gray;
    margin-bottom: 25px;
}