body{
    .nbn-metadata-dataset-table{
        th{
            width: 25%;
        }
    }
}

.nbn-gridmap-div {
    display: inline;
}

.nbn-gridmap-legend-div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}