.errors {
    border: 1px solid !important;
    margin: 10px 0px !important;
    padding: 5px 10px 5px 10px !important;
    background-repeat: no-repeat !important;
    background-position: 10px center !important;
    color: #D8000C !important;
    background-color: #FFBABA !important;
}