    #nbn-grid-map-filter-container{
        width: 33%;
        float: left;
    }

    #nbn-grid-map-container{
        width: 62%;
        display: inline-block;
    }

    #nbn-dataset-selector-container{
        display: inline-block;
    }

    #nbn-grid-map-image{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
