    .nbn-grid-filter-container{
        float: left;
    }

    #nbn-grid-filters-container{
	width: 33%;
	display: inline-block
    }

    #nbn-grid-map-container{
        width: 62%;
        display: inline-block;
        position: relative;
	vertical-align: top;
    }

    #nbn-dataset-selector-container{
        display: inline-block;
    }

    #nbn-grid-map-busy-image{
        position: absolute;
        top: 50%;
        left: 50%;
    }

    #nbn-background-checkbox-group{
        width: 50%;
        float: left;
    }

    .nbn-map-image-container-startup-height{
        height: 700px;
    }

    .nbn-grid-layer-label{
	display: inline-block;
	width: 45px;
    }

    #nbn-grid-outline-input{
	padding-left: 105px;
    }