label.error {
    display: block !important;
    width: auto !important;
    color: black !important;
    float: none !important;
    margin-top: 0px !important;
    margin-left: 1em !important;
    font-size: medium !important;
    font-style: normal !important;
}