@import "compass/reset";
@import "compass/css3/border-radius";
@import "_nbn-colour-scheme";
@import "_header";
@import "_footer";
@import "_designation";
@import "_paginator";
@import "_datatable";
@import "jquery/_collapsible-list";
@import "icons/*.png";

body {
    $icons-sprite-dimensions: true;
    @include all-icons-sprites;
    
    padding-right: 20px;
    padding-left: 20px;
    background: $backgroundPageColour;
    color: $pageTextColour;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 83%;
    margin-top: 0;
    
    #nbn-page-content, #nbn-page-header { 
        background-color: $backgroundContentColor; 
        color: $textColour;
    }
    
    #nbn-page-content, #nbn-page-header { 
        background-color: $backgroundContentColor; 
        color: $textColour;
    }
    
    #nbn-page-content, #nbn-page-footer, #nbn-page-header, #nbn-page-copyright {
        width: 1004px;
        padding: 10px;
        margin: 0 auto;
    }
    
    #nbn-page-header { 
        @include border-top-radius(5px); 
        margin-top:10px;
    }
    
    #nbn-page-content { @include border-bottom-radius(5px); }
    #nbn-page-footer { @include border-radius(5px); }
    
    #nbn-page-content, #nbn-page-footer { margin-bottom: 7px; }
    #nbn-page-footer, #nbn-page-copyright { font-size: 0.85em; }
    
    #nbn-page-copyright { padding: 20px 15px 30px 15px; }
    
    a:link, a:visited {
        text-decoration: underline;
        font-weight: normal;
        color: $majorColour;
    }
    
    ul, ol {
        margin-left: 10px;
        list-style-type: circle;
    }
    
    h1 {
        font-family: Trebuchet MS, Georgia, Sans-Serif;
        font-size: 2.0em;
        font-weight: lighter;
        color: $majorColour;
        margin-bottom: 20px;
        line-height: 40px;
        margin-top: 0;
        
    }
    
    h2 {
        color: $majorColour;
        font-size: 1.5em;
        text-decoration: none;
    }
    
    h3 {
        font-size: 1.1em;
        font-weight: lighter;
        color: $majorColour;
        margin: 10px 0px 5px 0px;
        text-decoration: none;
    }
    
    h4 {
        font-size: 1.3em;
        color:$majorColour;
        margin: 5px 0px 10px 0px;
    }
    
    p { margin-top: 1em;}
    
    .nbn-navigation {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        padding: 10px;
        background-color: $minorGrey;
        border: 1px solid $mediumGrey;
    }

    .tabbed {
        $padding: 5px;
        margin:5px;
        @include border-top-radius(5px);
        border: 1px solid $majorColour;
        padding: $padding;
        h1, h2, h3 {
            @include contrasted($majorColour);
            padding: 0.5em;
            display: block;
            margin: #{-$padding} #{-$padding} $padding;
        }
    }
    
    .nbn-taxon-name{
        font-style: italic;    
    }
    
    .nbn-dataset-table{
        $padding: 5px;
        font-family: Arial,Helvetica,Sans-serif;
        padding: 1px;
        width: 100%;
        th {
            font-weight: bold;
            width: 25%;
            padding: $padding;
        }
        td{
            padding: $padding;
        }
    }
    
    .nbn-temporal-table{
        font-size:0.9em;
        $padding: 3px;
        font-family: Arial,Helvetica,Sans-serif;
        padding: 1px;
        th {
            font-weight: bold;
            width: 25%;
            padding: $padding;
            text-align: right;
        }
        td{
            padding: $padding;
            text-align: right;
            vertical-align: top;
        }
    }
    
    #nbn-temporal-chart{
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }
    
    #nbn-chart-tooltip{
        font-size: 0.75em;
        color: $majorGrey;
        margin-bottom: 25px;
    }
    
    .nbn-temporal{
        ul {
            margin-top: 5px;
        }
        h1 {
            font-weight: bold;
            margin-top: 10px;
        }
    }

}