@import "compass/reset";
@import "compass/css3/border-radius";
@import "_nbn-colour-scheme";
@import "_header";
@import "_footer";
@import "_designation";
@import "_paginator";
@import "_datatable";
@import "_organisation";
@import "jquery/_collapsible-list";
@import "icons/*.png";

body {
    $icons-sprite-dimensions: true;
    @include all-icons-sprites;
    
    padding-right: 20px;
    padding-left: 20px;
    background: $backgroundPageColour;
    color: $pageTextColour;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 83%;
    margin-top: 0;
    
    #nbn-page-content, #nbn-page-header { 
        background-color: $backgroundContentColor; 
        color: $textColour;
    }
    
    #nbn-page-content, #nbn-page-header { 
        background-color: $backgroundContentColor; 
        color: $textColour;
    }
    
    #nbn-page-content, #nbn-page-footer, #nbn-page-header, #nbn-page-copyright {
        width: 1004px;
        padding: 10px;
        margin: 0 auto;
    }
    
    #nbn-page-header { 
        @include border-top-radius(5px); 
        margin-top:10px;
    }
    
    #nbn-page-content { @include border-bottom-radius(5px); }
    #nbn-page-footer { @include border-radius(5px); }
    
    #nbn-page-content, #nbn-page-footer { margin-bottom: 7px; }
    #nbn-page-footer, #nbn-page-copyright { font-size: 0.85em; }
    
    #nbn-page-copyright { padding: 20px 15px 30px 15px; }
    
    a:link, a:visited {
        text-decoration: underline;
        font-weight: normal;
        color: $majorColour;
    }
    
    ul, ol {
        margin-left: 10px;
        list-style-type: circle;
    }
    
    h1 {
        font-family: Trebuchet MS, Georgia, Sans-Serif;
        font-size: 2.0em;
        font-weight: lighter;
        color: $majorColour;
        margin-bottom: 20px;
        line-height: 40px;
        margin-top: 0;
        
    }
    
    h2 {
        color: $majorColour;
        font-size: 1.5em;
        text-decoration: none;
    }
    
    h3 {
        font-size: 1.1em;
        font-weight: lighter;
        color: $majorColour;
        margin: 10px 0px 5px 0px;
        text-decoration: none;
    }
    
    h4 {
        font-size: 1.3em;
        color:$majorColour;
        margin: 5px 0px 10px 0px;
    }
        
    p { margin-top: 1em;}

    fieldset{
        border: 2px groove threedface;
        padding: 10px;
    }

    table {
        width : 100%;
        th, td { padding: 0.2em 2em 0.2em 0; }
        th { 
            font-weight: bold;
            background-color : $minorGrey;
        }
    }
    
    .nbn-navigation {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        padding: 10px;
        background-color: $minorGrey;
        border: 1px solid $mediumGrey;
    }

    .tabbed {
        $padding: 5px;
        margin:5px;
        @include border-top-radius(5px);
        border: 1px solid $majorColour;
        padding: 0 $padding;
        h1, h2, h3 {
            @include contrasted($majorColour);
            padding: 0.5em;
            display: block;
            margin: 0 #{-$padding} $padding;
        }
    }
    
    .nbn-taxon-name{
        font-style: italic; 
    }

    .nbn-report-data-container{
        width: 30%;
        margin: auto;
        display: inline-block;
        vertical-align: top;
    }

    table.nbn-simple-table{
        font-family: Arial,Helvetica,Sans-serif;
        width: 100%;
        border-collapse: separate;
        margin-bottom: 20px;
        th{
            padding: 1px;
        }
        td{
            padding: 3px;
        }
    }
    
    table.nbn-observations-table{
        @extend table.nbn-coloured-table;
        th{
            padding: 2px;
        }
    }

    .nbn-dataset-table{
        $padding: 3px;
        font-family: Arial,Helvetica,Sans-serif;
        padding: 1px;
        width: 100%;
        th {
            font-weight: bold;
            width: 25%;
            padding: $padding;
        }
        td{
            padding: $padding;
        }
    }
    
    .nbn-organisation-table{
        @extend .nbn-dataset-table;
        $padding: 10px;
        td{
            padding: $padding;
        }
        ul{
            padding-left: 20px;
        }
    }
    
    .nbn-temporal-table{
        font-size:0.9em;
        $padding: 3px;
        font-family: Arial,Helvetica,Sans-serif;
        padding: 1px;
        th {
            font-weight: bold;
            width: 25%;
            padding: $padding;
            text-align: right;
        }
        td{
            padding: $padding;
            text-align: right;
            vertical-align: top;
        }
    }
    
    #nbn-temporal-chart{
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }
    
    #nbn-chart-tooltip{
        font-size: 0.75em;
        color: $majorGrey;
        margin-bottom: 25px;
    }
    
    .nbn-temporal{
        ul {
            margin-top: 5px;
        }
        h1 {
            font-weight: bold;
            margin-top: 10px;
        }
    }
    
    .nbn-survey-table{
        font-family: Arial,Helvetica,Sans-serif;
        font-size: 0.9em;
        width: 95%;
        margin-bottom: 10px;
        margin-left: 30px;
        th {
            font-weight: bold;
            width: 20%;
            padding-left: 5px;
        }
    }
    
    #nbn-provider-logo{
        float: left;
        margin-right: 10px;
    }

    .nbn-provider-table-logo{
        max-width: 25px;
        max-height: 25px;
    }

    .nbn-year-input{
        width: 3em;
    }

    .nbn-filter-name{
        font-weight: bold;
    }

    .nbn-report-filter-dropdown{
        width: 15em;
    }

    #nbn-select-datasets-text{
        float: right;
    }

    #nbn-site-map-container{
        width: 30%;
        margin: auto;
        display: inline-block;
        vertical-align: top;
    }

    #nbn-site-map-image{
        border: 1px solid $majorColour;
    }

    #nbn-site-image-copyright{
        font-size: 0.7em;
    }

    #nbn-grid-map-filter-container{
        width: 39%;
        float: left;
    }

    #nbn-grid-map-container{
        width: 60%;
        float: right;
    }
    
    .nbn-colour-picker {
        background: url('/img/colourpicker/select.png');
        width: 36px;
        height: 36px;
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 5px;
        vertical-align: middle;
        div{
            position: relative;
            top: 3px;
            left: 3px;
            width: 30px;
            height: 30px;
            background: url('/img/colourpicker/select.png') center;
        }
    }

    .nbn-form-label{
        display: inline-block;
    }

    .nbn-form-field{
        padding-bottom: 2px;
    }

    table.nbn-grid-map-table{
        td{
            padding: 10px;
        }
    }

    .nbn-information-panel{
        @include border-radius(5px);
        border: 1px #000 solid;
        background-color: $minorToMediumGrey;
        padding: 10px;
        text-align: center;
        font-size: 1.2em
    }

}