@import "compass/utilities/general/clearfix";
@import "_nbn-colour-scheme";

#nbn-site-report-filter-container{
    width: 31%;
    float: left;
}

#nbn-site-report-data-container{
    width: 25%;
    display: inline-block;
    position: relative;
    float: left;
}

#nbn-site-report-map{
    width: 35%;
    display: inline-block;
    position: relative;
}

#nbn-observation-container{
    @include clearfix;
    overflow: visible;
}

#nbn-site-observation-attribute-select{
    width: 6em;
}

#nbn-species-table_paginate{
    float: left;
}

#nbn-species-table_filter{
    float: left;
}
