@import "compass/utilities/general/clearfix";
@import "_nbn-colour-scheme";

#nbn-site-report-filter-container{
    width: 31%;
    float: left;
}

#nbn-site-report-data-container{
    width: 25%;
    display: inline-block;
    position: relative;
    float: left;
}

#nbn-site-report-map{
    width: 35%;
    display: inline-block;
    position: relative;
}

#nbn-dataset-selector-container{
    display: inline-block;
    width: 98%;
}

#nbn-observation-container{
    @include clearfix;
    overflow: visible;
}

#nbn-site-observation-attribute-select{
    width: 6em;
}

#nbn-species-table_paginate{
    float: left;
}

#nbn-species-table_filter{
    float: left;
}

#nbn-report-dataset-table{
    td {
        vertical-align: top;
        ul {
            margin: 0px;
        }
        li {
            list-style: disc;
        }
    }
    th {
        background-color: $mediumMajorGrey;
        padding: 5px;
        border: 1px solid $mediumMajorGrey;
    }
    th:first-child{
        background-color: white;
    }
    tr:nth-child(even){
        background: #FBF9EE url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
        border: 1px solid #FCEFA1;
    }
    td .nbn-dataset-table-heading{
        background-color: #C1D8E2;
        border: 1px solid #C1D8E2;
        font-weight: bold;
    }
}
