#nbn-species-table_paginate{
    float: right;
}

#nbn-species-table_filter{
    float: right;
}

#nbn-year-range-filter{
    float: left;
    width: 25%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

#nbn-spatial-relationship-filter{
    width: 50%;
    float: left;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

#nbn-species-site-list-container{
    margin-bottom: 2em;
}

#nbn-site-list-filter-container{
    margin-bottom: 2em;
}
